{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block inline_field_sets %}
  {{ block.super }}

  <style>
    #sales-invoice-summary td {
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
    }
    #sales-invoice-summary td:first-child {
      color: #0d47a1;  /* أزرق غامق */
    }
    #sales-invoice-summary td:nth-child(2) {
      color: green;
    }
    #sales-invoice-summary td:nth-child(3) {
      color: orange;
    }
    #sales-invoice-summary td:nth-child(4) {
      color: blue;
    }
  </style>


{% endblock %}
